.browse {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    padding-left: 24px;
}

.ant-layout-sider-collapsed .browse ,.ant-layout-sider-collapsed .missing {
    display: none;
}

.Menu-main > * > span {
    font-size : 18px !important;
}

.ant-menu-item {
    margin-top : 1rem !important;
    margin-bottom : 1.3rem !important;
    
}

.ant-menu-item-selected {
    background-color: inherit !important;
    color : #06C260 !important;
    border-left : 2px solid #06C260 !important;
}

.ant-menu-item-selected .anticon, .ant-menu-item-selected span {
    color : inherit !important;
}

.link-item {
    color : rgba(255,255,255,0.5);
    font-size : 0.9rem;
}

.ant-menu-item-divider {
    background-color: #2f4858 !important;
}

.ant-menu-inline > .ant-menu-item {
    line-height: 1.7rem;
    height: 2rem;
}

.browse2 {
    padding-left: 24px;
    font-size : 0.8rem;
    margin-top : 0.5rem;
    margin-bottom : 0.5rem;
    display : inline-block
}