@import url('https://fonts.googleapis.com/css?family=Rubik:500|Poppins:400,500,600,700,800&display=swap');

.mt-1 {
  margin-top: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.montserrat {
  font-family: 'Rubik', Tahoma, sans-serif;
}

.myTitle {
  color: #f7f7f7;
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  margin-top: 1.5rem;
}

.ant-layout-sider-trigger {
  display: none;
}

.ant-layout-header {
  padding-left: 10px !important;
}

::-webkit-scrollbar {
  display: none;
}

.ant-modal-content {
  border-radius: 1px;
}

.slick-slide > div > * no-repeat {
  height: 250px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.image-container {
  position: relative;

  &:hover {
    img {
      opacity: 0.4;
      transition: .5s ease-in-out;
    }

    .overlay {
      opacity: 1;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  display: flex;

  > * {
    flex: 1;
  }
}

#isiini {
  background: url('https://images.pexels.com/photos/1587/blurred-background.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center;
}

#bar li {
  border-left: none !important;
}

.ant-list-item-meta-content {
  margin: auto;
}

.ant-list-item {
  &.list-music:hover {
    background-color: #454545 !important;
  }

  &:hover {
    background-color: #ebebeb;
  }
}