/* Simplified */
.d-flex { display : flex }
.j-cont-r {justify-content: end}
.j-cont-l {justify-content: start}
.j-cont-sa {justify-content: space-between}
.ac-c {align-content: center}
.ai-c {align-items: center}
.float-left { float: left; }
.float-right { float: right }

.Logo {
    max-width: 50%;
    height: auto;
    display: inline-block
}

.input-1 {
    height : 65%;
    border-radius: 0px;
}
.input-1 input:hover {
    cursor: default !important;
}

.input-1 > input {
    background-color: #cfcfcf;
    color : #090e0c;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.input-1 > input::placeholder { 
    color : #090e0c;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.burger {
    font-size: 2em;
    display: inline-block
}